APP_NAME=AquaScape
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack

DB_CONNECTION=oracle
DB_HOST=oracle
DB_PORT=1521
DB_DATABASE=XE
DB_USERNAME=AQUASCAPE
DB_PASSWORD=AquaScape123

CACHE_DRIVER=array
SESSION_DRIVER=array
QUEUE_CONNECTION=sync
